/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

h2 {
  color: #5f616c;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f0efe9;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.year {
  position: relative;
  padding: 0.5rem;
}

.date {
  padding: 0.5rem;
}

.year--detail {
  position: absolute;
  left: 58%;
  bottom: 26%;
  letter-spacing: 0.5rem;
}

@media (max-width: 600px) {
  .year--detail {
    letter-spacing: .2rem;
    margin-top: .5rem;
  }
}

.day {
  padding-top: 2rem;
}

@media (max-width: 600px) {
  .day {
    padding-top: 1rem;
  }
}

.date--year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.date--year h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #5f616c;
}

@media (max-width: 600px) {
  .date--year h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
  }
}

.date--year h3 {
  margin-top: 0.7rem;
  font-size: 2rem;
  margin-left: 1.5rem;
  font-weight: normal;
  color: #5f616c;
}

@media (max-width: 600px) {
  .date--year h3 {
    margin-top: 0;
    font-size: 1.5rem;
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 600px) {
  .container {
    max-width: 100px;
  }
}

.btn-add {
  position: relative;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  background-color: #50e3a5;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: #fff;
}

.btn-add:hover {
  background: #46be89;
}

.btn-add:active {
  opacity: 0.8;
}

.btn-add:focus {
  color: #fff;
  opacity: 1;
}

.is-danger {
  color: red;
}

.header {
  position: relative;
}

.header--background {
  background-color: #02b0ab;
  height: 20vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 40% 70vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 40% 70vh, 0 100%);
}

.header--text-box {
  position: absolute;
  width: 100%;
  bottom: 25%;
}

.header--text-box-primary {
  background-color: #004e75;
  height: 10vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 40% 70vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 40% 70vh, 0 100%);
  color: #fff;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 600px) {
  .header--text-box-primary {
    font-size: 1.3rem;
  }
}

.header--text-box-logo {
  background-color: #f9f9f9;
  height: 10vh;
  -webkit-clip-path: polygon(12% 0, 100% 0, 100% 70vh, 0 100%);
          clip-path: polygon(12% 0, 100% 0, 100% 70vh, 0 100%);
  color: #02b0ab;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 600px) {
  .header--text-box-logo {
    font-size: 1.5rem;
  }
}

.header .qr-code {
  width: 9.2rem;
  height: 9.2rem;
  background: white;
  padding: 2px;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 11%;
}

@media (max-width: 600px) {
  .header .qr-code {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header .qr-code {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header .qr-code {
    width: 6rem;
    height: 6rem;
  }
}

.header .fa-twitter {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #004e75;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  color: #fff;
}

@media (max-width: 600px) {
  .header .fa-twitter {
    margin-left: 0rem;
    padding: .4rem;
  }
}

.header span {
  margin-left: 1rem;
}

@media (max-width: 600px) {
  .header span {
    margin-left: .2rem;
    font-size: 1.3rem;
  }
}

.container-section {
  margin: 0 auto;
  max-width: 50rem;
  position: relative;
}

@media (max-width: 600px) {
  .container-section {
    margin: 0 auto;
    max-width: 34rem;
  }
}

.container-section .add-todo-box {
  padding: 2rem;
  background: #fff;
  border-radius: 0.4rem;
  margin-top: 5rem;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

@media (max-width: 600px) {
  .container-section .add-todo-box {
    padding: 1rem;
  }
}

.container-section .add-todo-box input[type="text"] {
  height: 3rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% - 63px);
}

.container-section .add-todo-box :focus {
  outline-color: transparent;
  outline-style: none;
}

.container-section .btn-main {
  position: absolute;
  left: 44%;
  top: 74%;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  background-color: #50e3a5;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: #fff;
}

.container-section .btn-main:hover {
  background: #46be89;
}

.container-section .btn-main:active {
  opacity: 0.8;
}

.container-section .btn-main:focus {
  color: #fff;
  opacity: 1;
}

@media (max-width: 600px) {
  .container-section .btn-main {
    position: absolute;
    left: 42%;
    top: 89%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-section .btn-main {
    position: absolute;
    left: 42%;
    top: 92%;
  }
}

@media (min-width: 992px) {
  .container-section .btn-main {
    position: absolute;
    left: 44%;
    top: 92%;
  }
}

.container-section .todos--list {
  position: relative;
}

.container-section .todo--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
  padding: 3.5rem 1.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-bottom: 1px solid gray;
  position: relative;
  cursor: pointer;
}

@media (max-width: 600px) {
  .container-section .todo--item {
    padding: 2rem 0.5rem;
  }
}

.container-section .todo--item.completed {
  color: #aaa;
}

.container-section .todo--item .check--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 2px solid #c6c6cc;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.container-section .todo--item .check--box .fa-check {
  font-size: 20px;
  margin: auto;
  color: #333;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.container-section .todo--item .todo--controls-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0px;
  right: 0.5rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
}

.container-section .todo--item .todo--controls-box .todo--control-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5f7f8;
  padding: 0.7rem 1rem;
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .container-section .todo--item .todo--controls-box .todo--control-button {
    padding: 0.5rem 0.5rem;
  }
}

.container-section .todo--item .todo--controls-box .todo--control-button .fa-pencil-alt {
  font-size: 1.5rem;
  border-top-left-radius: 0.7rem;
}

@media (max-width: 600px) {
  .container-section .todo--item .todo--controls-box .todo--control-button .fa-pencil-alt {
    font-size: 1rem;
  }
}

.container-section .todo--item .todo--controls-box .todo--control-button .fa-trash {
  font-size: 1.5rem;
  border-top-right-radius: 0.7rem;
}

@media (max-width: 600px) {
  .container-section .todo--item .todo--controls-box .todo--control-button .fa-trash {
    font-size: 1rem;
  }
}

.container-section .todo--item .todo--controls-box .todo--control-button:hover {
  background: #eee;
}

.container-section .todo--item .todo--controls-box .todo--control-button:hover .fa-trash {
  color: red;
}

.container-section .todo--item .todo--controls-box .todo--control-button:active {
  background: #e5e7e8;
}

.container-section .todo--item:hover .check--box {
  background: #fff;
  border: 2px solid #43e49c;
}

.container-section .todo--item:hover .check--box .fa-check {
  opacity: 0.5;
  color: #43e49c;
}

.container-section .todo--item.completed .check--box {
  background-color: #fff;
  border-color: #0be9aa;
}

.container-section .todo--item.completed .check--box .fa-check {
  opacity: 1;
  color: #46be89;
}

.container-section .todo--item:hover .todo--controls-box {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.rtl .header--background {
  -webkit-clip-path: polygon(100% 0, 130% 0, 40% 70vh, 0% 0%);
          clip-path: polygon(100% 0, 130% 0, 40% 70vh, 0% 0%);
}

.rtl .year--detail {
  right: 53%;
  left: unset;
}

.rtl .date--year h3 {
  margin-right: 1.5rem;
  margin-left: unset;
}

.rtl .header .qr-code {
  right: 11%;
  left: unset;
}

.rtl .header--text-box-primary {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 7% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 70vh, 7% 100%);
}

.rtl .header span {
  margin-right: 1rem;
  margin-left: unset;
}

@media (max-width: 600px) {
  .rtl .header span {
    margin-right: .5rem;
    margin-left: unset;
    font-size: 1.3rem;
  }
}

.rtl .header--text-box-logo {
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}
/*# sourceMappingURL=main.css.map */