// main  Variables
$bg-color: #f0efe9;
$color-primary: #004e75;
$color-secondry: #02b0ab;
$color-third:#f9f9f9;
$color-icon: #50e3a5;
$color-icon-light:#46be89;
$color-icon-check:#43e49c;
$color-white: #fff;
$color-gray:#eee;
$color-gray-light:#c6c6cc;
$color-gray-primary:#aaa;
$color-gray-secondary:#5f616c;
$color-black:#000;
$color-red: red;